.header {
  background-color: #1c242a;
  &__container {
    display: flex;
    align-items: center;
    min-height: 75px;
    position: relative;
  }

  &__logo {
  }

  &__menu {
  }

  &__actions {
  }
}

.menu {
  padding-left: calc(30px / 950px) * 100%;
  flex: 1 1 auto;
  &__icon {
  }

  &__body {
  }

  &__list {
    display: flex;
    justify-content: center;
    & li {
      margin: 0px 15px;
    }
  }

  &__link {
    font-family: pfdintextcondpro;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1.4px;

    @media screen and (min-width: 992px) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.icon-menu {
  display: none;
  position: absolute;
  top: 18px;
  right: 10px;
  width: 30px;
  height: 18px;
  cursor: pointer;
  z-index: 5;
  span {
    transition: all 0.3s ease 0;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;

    &:first-child {
      top: 0px;
    }
    &:last-child {
      top: auto;
      bottom: 0px;
    }
  }
  &._active {
    span {
      transform: scale(0);

      &::first-child {
        transform: rotate(-45deg);
        top: calc(50% - 1px);
      }
      &:last-child {
        transform: rotate(45deg);
        bottom: calc(50% - 1px);
      }
    }
  }
}
.actions-header {
  display: flex;
  align-items: center;
  &__region {
    @extend .menu__link;
    background: url('../../img/icons/globe.png') left no-repeat;
    line-height: 18px;
    padding-left: 30px;
  }

  &__user {
    margin-left: 25px;
  }
}

//user header
.user-header {
  &__icon {
    display: flex;
    cursor: pointer;
    & img {
      width: 20px;
      margin-right: 3px;
    }
  }
  &__icon-arrows {
    display: flex;
    flex-direction: column;
    margin-left: 3px;
    & img {
      width: 10px;
      padding: 2px 0px;
    }
  }
  &__menu {
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease 0s;
    position: absolute;
    top: 100%;
    right: 15px;
    background-color: #1c242a;
    padding: 20px;

    & li:not(:last-child) {
      margin-bottom: 8px;
    }
    &._active {
      opacity: 1;
      visibility: visible;
      top: 110%;
    }
  }

  &__link {
    color: #fff;
    padding-left: 30px;
    display: inline-block;
    line-height: 18px;
    &_1 {
      background: url('../../img/icons/user-icons/globe.png') 1px center
        no-repeat;
    }

    &_2 {
      background: url('../../img/icons/user-icons/key.png') left center
        no-repeat;
    }

    &_3 {
      background: url('../../img/icons/user-icons/palm.png') 3px center
        no-repeat;
    }

    &_4 {
      background: url('../../img/icons/user-icons/hammer.png') left center
        no-repeat;
    }
    @media screen and (min-width: 992px) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
