.page {
  .main-slider {
    overflow: visible;
  }
}

//main block slider =======================

.main-slider {
  position: relative;

  .swiper-wrapper {
  }
  &__body {
    .swiper-slide {
      height: auto;
    }
  }

  &__item {
  }

  &__control {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100px;
    height: 100px;
    transform: translate(-50%, 50%);

    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      content: '';
      background-color: #fff;
      position: absolute;
      width: 70%;
      height: 70%;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%) rotate(-45deg);
    }
    z-index: 3;
  }
}

.item-main-slider {
  position: relative;
  padding: 30px 0px 100px;
  text-align: center;

  &__content {
    position: relative;
    z-index: 2;
    height: 100%;
  }

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__text {
    color: #fff;
    font-size: 15px;
    line-height: calc(25 / 15);

    flex: 1 1 auto;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 25px;
  }
  &__btn {
    margin-top: 55px;
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.control-main-slider {
  &__arrow {
    position: relative;
    width: 14px;
    height: 24px;
    background: url('../../img/main-screen/arrow-left.png') 0 0/14px no-repeat;
    z-index: 2;
    cursor: pointer;
    &_next {
      transform: rotate(-180deg);
    }
    &_prev {
    }
  }

  &__decor {
    position: relative;
    z-index: 2;
    margin: 0px 12px;
    & img {
      width: 20px;
    }

    animation: rotate 5s infinite linear;
  }
}

@keyframes rotate {
  0% {
  }
  100% {
    transform: rotate(360deg);
  }
}

//========================================

// lots block ============================

.lots {
  padding: 85px 0px 63px 0px;

  & .swiper {
    margin: 0px -50px;
    @media screen and (max-width: 980px) {
      margin: 0px -15px;
    }
  }
  &__container {
  }

  &__header {
    margin-bottom: 40px;
  }

  &__slider {
  }
}

.block-header {
  &__title {
    margin-bottom: 20px;
  }

  &__decor {
  }
}
.block-decor {
  display: flex;
  align-items: center;
  &__items {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    &::before {
      content: '';
      height: 1px;

      background-color: #bb9c66;
      flex: 1 1 auto;
    }
    &::after {
      content: '';
      height: calc(25px * 0.721);
      border: 1px solid #bb9c66;
      transform: rotate(-45deg);
      flex: 0 0 calc(25px * 0.721);

      margin: 0px 5px;
    }
    & span {
      display: flex;
      align-items: center;
      margin: 0 5px;
      &::before {
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid #bb9c66;
        flex: 0 0 10px;

        margin: 0px 5px;
      }
      &::after {
        content: '';

        height: calc(15px * 0.721);
        border: 1px solid #bb9c66;
        transform: rotate(-45deg);
        width: calc(15px * 0.721);
        flex: 0 0 calc(15px * 0.721);
      }
    }

    &:last-child {
      flex-direction: row-reverse;

      & span {
        flex-direction: row-reverse;
      }
    }
  }

  &__icon {
    flex: 0 0 145px;
    text-align: center;
    & img {
      max-width: 100%;
    }
    @media screen and (max-width: 767px) {
      flex: 0 0 95px;
    }
  }
}

.slider-lots {
  & .swiper-wrapper {
    align-items: stretch;
  }

  &__body {
    margin-bottom: 50px;
    & .swiper-slide {
      height: auto;
    }
  }

  &__slide {
    padding: 0px 50px;
    @media screen and (max-width: 980px) {
      padding: 0px 15px;
    }
  }

  &__control {
  }
}
.control-slider-lots {
  display: flex;
  justify-content: center;
  align-items: center;
  &__arrow {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    & span {
      background: url('../../img/watch/arrow.png') left no-repeat;
      flex: 0 0 108px;
      width: 108px;
      height: 35px;
      overflow: hidden;
      @media screen and (max-width: 450px) {
        flex: 0 0 50px;
      }
    }

    &::after {
      content: '';
      width: 15px;
      height: 15px;

      margin: 0px 5px;

      border: 1px solid #bb9c66;
      border-radius: 50%;
    }
    &:last-child {
      flex-direction: row-reverse;

      & span {
        transform: rotate(-180deg);
      }
    }
  }

  &__link {
    background: url('../../img/watch/circle.png') 0 0 no-repeat;

    height: 100px;
    flex: 0 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    color: #000;
    font-weight: 500;
    font-family: pfdintextcondpro;
    text-transform: uppercase;

    margin: 0px 20px;
  }
}

.lot {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  &__header {
    text-align: center;
    margin-bottom: 30px;
    position: relative;
  }

  &__image {
    display: block;
    padding-bottom: 98%;
    border: 3px solid #bb9c66;
  }

  &__timer {
  }

  &__title {
    font-family: pfdintextcondpro;
    font-size: 21px;
    font-weight: 500;
    color: #000;
    text-transform: uppercase;
    line-height: calc(25 / 21);
    flex: 1 1 auto;

    position: relative;
    z-index: 2;

    margin-bottom: calc(27px / 21px) * 1em;

    @media screen and (max-width: 980px) {
      font-size: 18px;
    }
    @media screen and (min-width: 992px) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__info {
  }

  &__btn {
    margin: 0 25px;
  }
}
.timer-lot {
  width: 72px;
  height: 72px;
  transform: translate(-50%, 50%);

  position: relative;
  display: inline-flex;
  align-items: center;

  flex-direction: column;

  padding-top: 2px;

  position: absolute;
  left: 50%;
  bottom: 0;
  & div {
    position: relative;
    z-index: 2;
  }

  &::before {
    content: '';
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-45deg);
  }
  &__icon {
    margin-bottom: 5px;
  }

  &__item {
    font-size: 25px;
    font-family: BravoRGRegular;
  }
}

.info-lot {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
  &__statistic {
    flex: 0 0 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__icon {
    width: calc(25px * 0.72);
    height: calc(25px * 0.72);
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
    & img {
      position: relative;
      z-index: 2;
    }
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      background-color: #000;
      transform: rotate(-45deg);
      position: absolute;
    }
  }

  &__value {
    font-size: 14px;
    border-bottom: 1px solid #bb9c66;
    padding-bottom: 5px;
  }

  &__current-bet {
    flex: 1 1 auto;

    @media screen and (max-width: 980px) {
      flex: 0 0 auto;
    }
  }
}
.current-bet-info-lot {
  padding: 0px 5px;
  position: relative;
  @media screen and (max-width: 980px) {
    padding: 0px 10px;
  }
  & div {
    position: relative;
    z-index: 2;
  }
  &:after {
    content: '';
    border: 1px solid #bb9c66;
    position: absolute;
    width: 72px;
    height: 72px;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) rotate(45deg);
  }
  &__label {
    margin-bottom: 5px;
  }

  &__value {
    font-family: BravoRGRegular;
    font-size: 50px;
    white-space: nowrap;
    @media screen and (max-width: 980px) {
      font-size: 40px;
    }
  }

  &__currency {
  }
}

//========================================

// categories block ======================

.categories {
  margin-bottom: 70px;
  @media screen and (max-width: 767px) {
    margin-bottom: 35px;
  }
  &__items {
    margin-bottom: 85px;

    @media screen and (max-width: 767px) {
      margin-bottom: 0px;
    }
  }

  &__container {
    overflow: hidden;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      height: 45px;
      background-color: #fff;
      width: 100%;
    }
  }

  &__row {
    display: flex;
    margin: 0px -50px;
    padding-top: 33px;
    position: relative;
    flex-wrap: wrap;

    &::before,
    &::after {
      content: '';
      position: absolute;

      width: calc(24px * 0.72);
      height: calc(24px * 0.72);
      flex: 0 0 calc(24px * 0.72);
      transform: translate(-50%, 0) rotate(-45deg);
      border: 1px solid #bb9c66;
      top: 3px;
    }
    &::before {
      left: 33.333%;
      @media screen and (max-width: 980px) {
        left: 50%;
      }
    }
    &::after {
      left: 66.667%;

      @media screen and (max-width: 980px) {
        display: none;
      }
    }
  }

  &__column {
    flex: 0 1 33.333%;
    padding: 0px 50px 25px;
    margin-bottom: 25px;

    position: relative;
    display: flex;
    justify-content: center;

    &::before {
      content: '';
      background-color: #bb9c66;
      width: 10px;
      height: 10px;
      flex: 0 0 10px;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      bottom: -5px;
      transform: translate(-50%, 0px);
    }

    @media screen and (max-width: 980px) {
      flex: 0 1 50%;
    }
    @media screen and (max-width: 650px) {
      flex: 1 1 100%;
    }
  }

  &__item {
  }
  &__decor {
    position: absolute;
    right: 0;
    top: 0;

    width: 24px;
    height: calc(100% + 9px);
    transform: translate(50%, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    &:before {
      content: '';
      width: 2px;
      opacity: 0.7;
      flex: 1 1 auto;
      background-color: #bb9c66;
    }

    &::after {
      content: '';
      width: calc(24px * 0.72);
      height: calc(24px * 0.72);
      flex: 0 0 calc(24px * 0.72);
      transform: rotate(-45deg);
      border: 1px solid #bb9c66;

      margin-top: 15px;
    }
    & span {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1 1 auto;
      &::before {
        content: '';
        background-color: #bb9c66;
        width: 10px;
        height: 10px;
        flex: 0 0 10px;

        border-radius: 50%;

        margin: 20px 0px;
      }
      &:after {
        content: '';
        width: 2px;
        opacity: 0.7;
        flex: 1 1 auto;
        background-color: #bb9c66;
      }
    }
  }
  &__text {
  }
}
.item {
  position: relative;
  padding: 30px 30px 40px 30px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  width: 250px;
  text-align: center;

  align-items: center;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 992px) {
    &:hover {
      .item__bg {
        transform: scale(1.1);
      }
    }
  }

  &__link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    border-radius: 50%;
    overflow: hidden;
  }

  &__icon {
    position: relative;
    z-index: 2;
    margin-bottom: 22px;
  }

  &__title {
    position: relative;
    z-index: 2;
    color: #ffffff;
    text-transform: uppercase;
    font-family: pfdintextcondpro;
    font-size: 21px;
    font-weight: 500;

    flex: 1 1 auto;

    line-height: calc(25 / 21);
    letter-spacing: 2.1px;
  }

  &__deco {
    text-align: center;
    position: relative;
    z-index: 2;
  }

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: transform 0.8s ease 0s;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgb(39, 46, 53);
      opacity: 0.8;
    }
  }
}

.text-categories {
  &__container {
  }
  color: #333333;
  font-size: 15px;
  line-height: calc(25 / 15);

  & p {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
  &__body {
    padding: 10px 0px 20px 130px;
    background: url('../../img/icons/shapes-crop.png') left top/85px repeat-y;
    position: relative;

    &:before {
      content: '';
      background: url('../../img/icons/shapes-crop-top.png') 0 0/85px repeat;
      position: absolute;
      top: -6px;
      left: 0;
      width: 85px;
      height: 12px;

      @media screen and (max-width: 767px) {
        display: none;
      }
    }
    @media screen and (max-width: 767px) {
      padding: 10px 0px 25px 0px;
      background: none;
    }
  }
}

//========================================

// services block ========================

.services {
  padding: 60px 0px 40px 0px;
  background-color: #1c242a;

  @media screen and (max-width: 640px) {
    padding: 40px 0px 0px 0px;
  }
  &__container {
  }

  &__header {
    margin-bottom: 40px;
  }
  &__row {
    margin: 0px -50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__column {
    padding: 0px 50px;
    flex: 0 1 33.333%;
    margin-bottom: 50px;
    @media screen and (max-width: 975px) {
      flex: 0 1 50%;
    }
    @media screen and (max-width: 640px) {
      flex: 1 1 100%;
    }
  }

  &__item {
  }
}

.service {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;

  &__image {
    height: 205px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  &__title {
    color: #fff;
    font-family: pfdintextcondpro;
    font-size: 21px;
    font-weight: 500;
    line-height: calc(25 / 21);
    text-transform: uppercase;
    letter-spacing: 1.1px;
    flex: 1 1 auto;
  }

  &__text {
    color: #bb9c66;
    font-size: 15px;
    line-height: calc(25 / 15);
    margin-top: 23px;

    // max-height: 50px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &__btn {
    position: relative;
    font-family: pfdintextcondpro;
    font-size: 21px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 2.1px;
    text-align: center;
    text-transform: uppercase;

    margin-top: 30px;

    &::before {
      content: '';
      position: absolute;
      background-color: #bb9c66;
      height: 1px;
      width: 100%;
      top: 50%;
      left: 0;
    }
    & span {
      background-color: #1c242a;
      position: relative;
      z-index: 2;
      padding: 0px 15px;
    }
  }
}

//========================================

// quotes block ========================

.quotes {
  padding-top: 64px;
  padding-bottom: 75px;
  @media screen and (max-width: 767px) {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  &__container {
  }

  &__header {
  }
  &__slider {
    margin-top: 20px;
  }
}
.slider-quotes {
  &__body {
    @media screen and (max-width: 570px) {
      margin-bottom: 30px;
    }
  }

  &__slide {
    display: flex;
    align-items: center;
    opacity: 0 !important;

    &.swiper-slide-active {
      opacity: 1 !important;
    }
    @media screen and (max-width: 570px) {
      display: block;
    }
  }

  &__image {
    flex: 0 0 calc(320px / 950px * 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    & img {
      max-width: 100%;
    }
  }

  &__content {
    flex: 0 1 515px;
  }

  &__title {
    font-size: 25px;
    font-style: italic;
    line-height: calc(30 / 25);

    margin-bottom: calc(30px / 25px * 1em);
  }

  &__info {
    color: #1c242a;
    font-size: 15px;

    & p:not(:last-child) {
      margin-bottom: 7px;
    }
  }

  &__control {
  }
}

.control-slider-quotes {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  &__decor {
    display: flex;
    align-items: center;

    flex: 0 1 33.333%;
    &::before {
      content: '';
      flex: 1 1 auto;
      height: 1px;
      background-color: #bb9c66;
    }
    &::after {
      content: '';
      width: 10px;
      height: 10px;
      border: 1px solid #bb9c66;
      border-radius: 50%;
      margin-left: 5px;
    }
    &:last-child {
      flex-direction: row-reverse;
      &::after {
        margin-left: 0px;
        margin-right: 5px;
      }
    }
  }
  &__circle {
    border: 1px solid #bb9c66;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-flex;
    background: url('../../img/quotes/repeat.png') center no-repeat;
    cursor: pointer;
  }
  &__link {
    flex: 0 1 33.333%;
    text-align: center;
  }
}

//====================================

// info block ========================

.info {
  padding: 0px 0px 75px 0px;

  @media screen and (max-width: 767px) {
    padding-bottom: 35px;
  }
  &__container {
  }

  &__row {
    display: flex;
    margin: 0px -22px;
    flex-wrap: wrap;

    @media screen and (max-width: 767px) {
      display: block;
    }
  }

  &__column {
    flex: 0 1 50%;
    padding: 0px 22px;
    margin-bottom: 55px;
    &:last-child {
      margin-bottom: 0px;
      flex: 1 1 100%;
    }
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  &__block {
  }

  &__title {
  }

  &__content {
  }

  &__item {
    margin-bottom: 30px;
    @media screen and (max-width: 767px) {
      margin-bottom: 20px;
    }
  }

  &__date {
    color: #bb9c66;
    font-size: 12px;
    margin-bottom: 5px;
  }

  &__label {
    font-size: 15px;

    color: #333333;
    font-weight: 700;
    text-decoration: underline;
    display: inline-flex;
    margin-bottom: 5px;
  }

  &__text {
    font-size: 15px;
    line-height: calc(21 / 15);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    &_long {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }
  }

  &__subscribe {
  }
}

.title-info {
  display: flex;
  align-items: center;
  font-size: 35px;
  font-family: pfdintextcondpro;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 30px;
  @media screen and (max-width: 767px) {
    margin-bottom: 15px;
  }
  & span {
    &:first-child {
      margin-right: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.subscribe {
  &__title {
  }

  &__body {
    display: flex;
    margin: 0px -22px;
    @media screen and (max-width: 767px) {
      display: block;
    }
  }

  &__column {
    padding: 0px 22px;
    flex: 0 1 50%;
  }

  &__text {
    font-size: 15px;
    line-height: calc(21 / 15);
    @media screen and (max-width: 767px) {
      margin-bottom: 25px;
    }
  }

  &__form {
  }
}
.form-subscribe {
  height: 50px;
  border: 3px solid #bb9c66;
  background-color: #fff;

  display: flex;
  &__input {
    border-radius: 0 !important;
    width: 100%;
    color: #4f4f4f;
    display: block;
    flex: 1 1 auto;
    & input {
      width: 100%;
      padding: 0px 25px;
      font-size: 15px;
      height: 100%;
      &:focus {
        color: #000000;
      }
    }
  }

  &__btn {
    position: relative;
    flex: 0 0 95px;
    background-color: #fff;
    &:before {
      content: '';
      position: absolute;
      width: 1px;
      height: 32px;
      background-color: #bb9c66;
      left: 0;
      top: 50%;
      transform: translate(0px, -50%);
    }
    & span {
      color: #1c242a;
      font-family: pfdintextcondpro;
      font-size: 21px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 2.12px;
      background: url('../../img/quotes/arrowok.png') right no-repeat;
      padding-right: 32px;
    }
    @media screen and (min-width: 767px) {
      transition: all 0.5s ease 0s;
      &:hover {
        padding-left: 10px;
      }
    }
  }
}

//====================================
